/* Font image Top */


/* Image in Card */
#imageCard{
    /* transition: transform cubic-bezier(0.68, -0.55, .27, 1.55) .5s; */
    /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    transition: ease 1s;
}
#imageCard:hover{
    transform:scale(1.06);
}

/* For the slider image */
#carousel-slider .contenu {
    overflow: hidden;
}


@media(min-width: 1000px) {
    .item {
        height: 100vh;
    }

    img {
        object-fit: cover;
    }
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    
}

#caption{
    position: absolute;
    align-items: center;
    justify-content: center;
}

#carousel-demo .item:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* one product html */
#icon_personal_product:hover {
    background-color:rgb(216, 216, 216);
}

/* blog  */

.background-blog {
    background: url("/assets/images/background2.jpeg") fixed 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20%;
}

.content p {
    text-align: center;
}

.content p:last-child {
    margin: 0 10%;
    font-size: 20px;
}

.image-article {
    border: 5px solid rgba(164, 164, 172, 0.1);
    border-radius: 10px;
    transition: transform 0.4s;
    transition-duration: 0.5s;
}

.block-title {
    position: absolute;
    top:30px;
    border: 2px solid blue ;
    border-radius: 6px;
    padding: 4px ;
    left: 30px;
    background-color: blue;
    color: white;
}

.image-article:hover {
    transform: translateY(-20px);
    /*box-shadow: 3px rgb(151, 156, 161);*/
}

.contenu-image {
    display: inline-block;
    width: 100%;
    height: 16em;
    min-height: auto;
    max-height: fit-content;
}

/* Blog - Tag  */

.widget-tag .tage {
    background-color: rgb(89, 89, 219);
    border: 1px solid rgb(89, 89, 219);
    border-radius: 9px;
    padding: 7px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition-property: background-color;
    transition-delay: 90ms;
    transition-duration: 1s;
}



.widget-tag .tage:hover {
    background-color: black;
     transition-delay: 90ms;
    transition-duration: 1s;
}


/* Shopping */

#headerShopping {
    border-bottom: 1px solid rgb(123, 123, 133);
    margin-right: 0;
    padding-right: 0;
}

/* .title_menu {
    
} */

/* Bas de page -- Footer */
/*
.footer {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
} */